a.line-after {
  color: #001d57;
  text-decoration: none;
  transition: all 0.5s;
  position: relative;
}

a.line-after:hover {
  color: #00d6e3;
}

a.line-after:hover:after {
  background: #00d6e3;
}

a.line-after:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 100%;
  margin-left: 20px;
  width: 100px;
  height: 1px;
  background: #001d57;
}

.slides {
  margin-top: 100px;
  display: inline-block;
  border: 1px solid #00d6e3;
  padding: 40px;
}

.slides img {
  max-width: 100%;
}

#page8 p img {
  margin-bottom: 20px;
}

body.faq .container .wraper .page section h1 {
  width: 100%;
  margin: 80px 0;
}

body.faq .container .wraper .page section h1:before {
  display: none;
}

body.faq .container .wraper .page section h1.with-logo {
  margin-top: 205px;
}

body.faq .container .wraper .page section h1.with-logo:before {
  display: block;
}

body.faq .container .wraper #contact section h1 {
  margin: 205px 0 80px;
}

body.faq .container .wraper #contact section h1:before {
  display: block;
}

body.faq ul.faq-list {
  margin: 0;
  padding: 0;
}

body.faq ul.faq-list li {
  list-style: none;
  color: #001d57;
  font-size: 21px;
  margin-bottom: 50px;
  padding-left: 80px;
  position: relative;
  cursor: pointer;
  font-family: "Geomanist Light";
}

body.faq ul.faq-list li span {
  padding-top: 20px;
  text-transform: none;
  display: none;
  cursor: auto;
}

body.faq ul.faq-list li span li {
  cursor: auto;
}

body.faq ul.faq-list li.open span {
  display: block;
}

body.faq ul.faq-list li:before,body.faq ul.faq-list li:after  {
  content: '';
  position: absolute;
  top: 15px;
  left: 0;
  width: 50px;
  height: 1px;
  background: #001d57;
  transition: all .5s;
}

body.faq ul.faq-list > li.open:before {
  transform: rotate(45deg);
}

body.faq ul.faq-list > li.open:after {
  transform: rotate(-45deg);
}

body.faq ul.faq-list > li span ul {
    margin-top: 50px;
}

body.faq ul.faq-list > li span ul li {
    text-transform: none;
}

body.faq ul.faq-list > li span ul li a {
    color: #b66f6f;
}

body.faq .back-home {
  position: absolute;
  left: 80px;
  top: 50px;
  text-transform: uppercase;
}

body.faq .back-home a {
  transition: all 0.5s;
  color: #b66f6f;
  text-decoration: none;
}

body.faq .back-home a:hover {
  color: #757c97;
}

.container .wraper #home .imapp-btn {
  display: block;
}
